.emptyCart {
  margin: auto;
  text-align: center;
  padding: 10vmax;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.emptyCart > svg {
  font-size: 5vmax;
  color: rgb(0, 0, 0);
}
.emptyCart > p {
  font-size: 2vmax;
}
/* #footer{
  display: none;
} */
.emptyCart > a {
  background-color: rgb(51, 51, 51);
  color: white;
  border: none;
  padding: 1vmax 3vmax;
  cursor: pointer;
  font: 400 1vmax "Roboto";
  text-decoration: none;
}

.cartPage {
  padding: 5vmax;
  margin-top:60px;
  width: 85vw;
  height: 100%;
  margin-left: 20px;
}
h1{
  text-align: center;
  font-style: "Roboto";
}
.cartHeader {
  background-color: rgb(146, 148, 153);
  width: 90%;
  box-sizing: border-box;
  margin: auto;
  color: rgb(12, 12, 12);
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  font: 600 0.9vmax "Roboto";
  border-radius: 25px;
}
.cartHeader > p {
  margin: 10px;
}
.cartHeader > p:last-child {
  text-align: end;
}

.cartContainer {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
}

.cartInput {
  display: flex;
  align-items: center;
  height: 7vmax;
}

.cartInput > button {
  border: none;
  background-color: rgba(0, 0, 0, 0.616);
  padding: 0.4vmax;
  cursor: pointer;
  color: white;
  transition: all 0.5s;
}
.cartInput > button:hover {
  background-color: rgba(0, 0, 0, 0.767);
}

.cartInput > input {
  border: none;
  padding: 0.5vmax;
  width: 1.7vmax;
  text-align: center;
  outline: none;
  font: 400 0.8vmax "Roboto";
  color: rgb(0, 0, 0);
}

.cartSubtotal {
  display: flex;
  padding: 0.5vmax;
  height: 8vmax;
  align-items: center;
  box-sizing: border-box;
  font: 300 1vmax cursive;
  justify-content: flex-end;
  color: rgb(0, 0, 0);
}

.cartGrossProfit {
  display: grid;
  grid-template-columns: 2fr 1.2fr;
}

.cartGrossProfitBox {
  border-top: 3px solid rgb(7, 7, 7);
  margin: 0vmax 4vmax;
  box-sizing: border-box;
  padding: 1vmax 0;
  font: 500 1.3vmax "Roboto";
  display: flex;
  justify-content: space-between;
}

.checkOutBtn {
  display: flex;
  justify-content: flex-end;
}
.checkOutBtn > button {
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  padding: 0.8vmax 4vmax;
  width: 50%;
  font: 300 0.8vmax "Roboto";
  margin: 1vmax 4vmax;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.5s;
}
.checkOutBtn > button:hover{
  color:black;
  background-color: rgb(49, 232, 49);
}
@media screen and (max-width: 600px) {
  .cartPage {
    padding: 0;
    min-height: 60vh;
    margin-top: 100px;
  }

  .cartHeader {
    width: 100%;
    font: 300 1.7vmax "Roboto";
    grid-template-columns: 3fr 1fr 1fr;
  }

  .cartContainer {
    width: 100%;
    grid-template-columns: 3fr 1fr 1fr;
  }

  .cartInput {
    height: 20vmax;
  }

  .cartInput > button {
    padding: 1.5vmax;
  }

  .cartInput > input {
    width: 2.5vmax;
    padding: 0.6vmax;
    font: 500 1.8vmax "Roboto";
    color: black;
  }

  .cartSubtotal {
    padding: 1.5vmax;
    height: 20vmax;
    font: 300 2vmax "Roboto";
  }

  .cartGrossProfit {
    display: grid;
    grid-template-columns: 0fr 2fr;
  }

  .cartGrossProfitBox {
    padding: 2vmax;
    font: 300 2vmax "Roboto";
  }

  .checkOutBtn > button {
    padding: 2vmax 4vmax;
    width: 60%;
    font: 300 2vmax "Roboto";
  }
}
