.MuiStepConnector-line {
  display: none !important;
}
.progress{
    margin-top: 45px;
}
.MuiStepConnector-root {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.682);
}

.MuiStepConnector-active,
.MuiStepConnector-completed {
  background-color: rgb(49, 252, 8);
}
